@import "normalize.css";

:root{
  --color-text:#666;
  --color-height-text:#ff5777;
  --color-tint:#3e4653;
  --color-background:#fff;
  font-size: 16px;
  --font-height:1.5;
}
*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
body {
  font-family: "Microsoft YaHei UI Light";
  user-select: none;  /*禁止用户鼠标在页面中选中图片或文字*/
  -webkit-tap-highlight-color: transparent;
  background-color: var(--color-background);
  color: var(--color-text);
  width: 100vh;

}

.el-card {
  margin-top: 15px;
  min-width: 1360px;
}

.el-table{
  margin-top: 15px;
}

.el-pagination{
  margin-top: 15px;
}

.left-margin15 {
  margin-left: 15px;
}
.top-margin15{
  margin-top: 15px;
}




