<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.neuedu.crm.dao.GameCpDao">

	<!-- CP下拉框数据查询 -->
	<select id="getCpCombobox"
		resultType="com.neuedu.crm.vo.ComboboxDataVo">
		select cpId id, cpName name from game_cp where productType = 2
	</select>

</mapper> 